body {
	background-color: #669999;
}

#legend {
	font-weight: bold;
}
.correct {
	color: green;
}

.correctDot {
	background-color: green;
}

.almostDot{
	background-color: yellow;
}

.incorrectDot {
	background-color: red;
}

.almost {
	color: yellow;
}

.incorrect {
	color: red;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}